/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

nav {
	margin: 30px 200px 0px 250px;
	word-spacing: 50px;
}

nav a {
	color: gray;
	display: inline-flex;
	text-align: center;
	text-decoration: none;
}

.header-container {
	flex-direction: row;
}

h1 {
	text-align: center;
	font-size: 80px;
	display: inline-block;
	margin: 120px 200px 80px;
	column-count: 2;
}

button {
  padding: 5px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

h1 img{
	float: right;
  }

.top-content div {
	border-top: 1px solid black;
	display: inline-block;
	font-weight: bold;
	text-align: left;
	margin: 0px 200px;
	padding: 30px 0px;
}

.top-content img {
	width: 70%;
	height: 150px;
	text-align: center;
	margin: 0px 200px 30px;
}

.top-content div {
		column-count: 2;
	  }

.bottom-content {
	border-bottom: 1px solid black;
	display: inline-block;
	font-weight: bold;
	text-align: left;
	margin: 0px 200px;
	padding: 0px 0px 30px;
}

.bottom-content div {
	column-count: 3;
  }

.contact {
	font-weight: bold;
	ddisplay: inline-flex;
	margin: 30px 200px 30px;
}

footer {
	text-align: center;
	font-weight: bold;
	margin: 30px 200px 100px;
}

